.light_bg {
    background-color: #F2F5EA;
    color: #2C363F;
    margin: 0px;
}

.cool_bg {
    background-color: #2C363F;
    color: #F2F5EA;
    margin: 0px;
}

.bg-primary{
    background-color: #F2F5EA;
}

.block{
    display: flex;
}

.services{
    display: flex;
    justify-content: space-around;
}


.plus-jakarta sans-body{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.title-size {
    font-size: 80;
    width: 1500px;
}

.title-size2 {
    font-size: 60;
}

/*-------------------------------------------------  INICIO ------------------------------------------------*/

.title0 {
    padding-top: 90px;
    padding-bottom: 450px;
}

.title1 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.title2 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.imagePage1 {
    width: 60%;
    padding-left: 100px;
}

.service-image {
    width: 90%;
    padding-left: 150px;
}


/*-------------------------------------------------  PAGE 2 ------------------------------------------------*/

.imagePage2 {
    width: 70%;
    padding-left: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*-------------------------------------------------  PAGE 3 ------------------------------------------------*/

.imagePage3 {
    width: 30%;
    padding-left: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-bot {
    padding-bottom: 10px;
}

.pad-bot2 {
    padding-bottom: 40px;
}

.morepad {
    padding-top: 200px;
    padding-bottom: 200px;
}

.title-size3 {
    font-size: 40;
}

.body-size {
    font-size: 25;
    padding-left: 20px;
}

.carrusel-pad {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.images-comm {
    width: 50%;
    padding-bottom: 20px;
}

